*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10px;
}
.wb{
    font-size: 20px;
}
.form_container{
    margin-top:20px ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;

}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color:skyblue;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color:red;
    border: transparent solid 2px;
    border-radius: 10px;
    padding: 5px 10px;
    color:white;
    transition: 0.3s ease-in;

}
button:hover{
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;

}
.text_Area_control{
    grid-column:1/2 span ;
}
.text_Area_control textarea{
    width: 100%;
}
@media (max-width: 460px) {
    .text_Area_control{
        grid-column: 1/span 1;
    }
}
